:root {
    --primary-color: #BB2649;
}

.primary-color {
    background-color: var(--primary-color);
}

.navbar-brand {
    font-size: 2rem;
}

.card {
    margin: 0 auto; 
    float: none; 
    min-height: 6rem;
    max-height: 10rem;
    margin-bottom: 4rem;
    margin-top: 4rem; 
    display: inline-flex;
    vertical-align: center;
}
