:root {
    --primary-color: #BB2649;
}

.primary-color {
    background-color: var(--primary-color);
}

.navbar-brand {
    font-size: 2rem;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    display: inline-flex;
    vertical-align: center;
}
