:root {
    --primary-color: #BB2649;
}

.primary-color {
    background-color: var(--primary-color);
}

.navbar-brand {
    font-size: 2rem;
}

.card {
    margin:50em; 
    float: none; 
    min-height: 15rem;
    max-height: 25rem;
    margin-bottom: 20rem;
    margin-top: 10rem; 
    display: inline-flex;
    vertical-align: center;
}

.top {
    margin-top: 7rem;
    margin-bottom: auto;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--primary-color);
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}


